<!DOCTYPE html>
<html lang="sr>
<head>
<meta charset=" UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>ChaSha</title>
<link rel="shortcut icon" href="favicon.png">
<link rel="stylesheet" href="css/app.css">
</head>

<body>
	{% include 'templates/inc/navigation.twig' %}
	{% include 'templates/inc/flash.twig' %}
	{% block sadrzaj %}{% endblock sadrzaj %}
	<script src="js/app.js"></script>
</body>

</html>
