<!DOCTYPE html>
<html lang="sr>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>ChaSha</title>
<link rel="shortcut icon" href="favicon.png">
<link rel="stylesheet" href="css/app.css">
</head>

<body>
	<header>
		{% include 'templates/inc/navigation.twig' %}
	</header>
	<main>
		{% include 'templates/inc/flash.twig' %}
		{% block sadrzaj %}{% endblock sadrzaj %}
	</main>
	<footer>
		{% include 'templates/inc/footer.twig' %}
	</footer>
	<script src="js/app.js"></script>
</body>

</html>
