/*


*/
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI",
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding: .5rem 2rem;
}

main {
  flex: 1;
}

header,
footer {
  background-color: #333;
  color: #fff;
  padding: 0 2rem;
}

nav {
  font-size: 1.1rem;
}

nav .logo {
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  padding: .5rem 3rem .5rem 0;
  color: #FF4500 !important;
  /* font-size: 1.3rem; */
  /* line-height: 2; */
  margin: 0;
}

nav .logo:hover {
  color: #fff;
  background-color: #333;
  border: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  position: relative;
  display: inline-block;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: .5rem 1.5rem;
  color: #fff;
  text-decoration: none;
  background-color: #333;
}

nav ul li a:hover {
  color: orangered;
  background-color: #111;
}

.nav-dropdown-active {
  color: orange;
  background-color: #111;
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: .5rem 1.5rem;
  /* line-height: 20px; */
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1000;
}

.flash {
  padding: 0 4rem 0 1rem;
  border-radius: .5rem;
  position: relative;
}

.flash .close {
  position: absolute;
  top: 0;
  right: .3rem;
  padding: .7rem .7rem;
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  color: inherit;
}

.close:active,
.close:focus {
  outline: 0;
}

.flash-info {
  border: 1px solid #000;
  color: #fff;
  background-color: #009;
}

.flash-success {
  border: 1px solid #000;
  color: #fff;
  background-color: #090;
}

.flash-warning {
  border: 1px solid #000;
  color: #fff;
  background-color: #fb0;
}

.flash-danger {
  border: 1px solid #000;
  color: #fff;
  background-color: #900;
}

.pgn-btn {
  margin-left: -1px;
  border: 1px solid #aaa;
  text-decoration: none;
  padding: .5rem 1rem;
  text-align: center;
  background-color: #eee;
  color: #333;
}

.pgn-btn:hover {
  background-color: #ccc;
}

.pgn-cur-btn {
  background-color: #339 !important;
  color: #fff !important;
}

.pgn-btn-disabled {
  pointer-events: none;
  background-color: #eee;
  color: #bbb;
}

.pgn-goto {
  border: 1px solid #aaa;
  padding: .5rem 1rem;
  background-color: #eee;
  color: #333;
  font-size: 1rem;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid black;
}

td ul {
  padding: 0;
  list-style: none;
}
