/* ChaSha */

/* Variables */
:root {
  /* base colors */
  --color-white: #fff;
  --color-black: #000;
  --color-text-dark: #000;
  --color-text-light: #ddd;
  --color-text-grey: #555;
  --color-text-info: #0B2545;
  --color-text-success: #058C42;
  --color-text-warning: #FF5805;
  --color-text-danger: #C81D25;
  --color-bg-light: #fff;
  --color-bg-dark: #333;
  --color-bg-grey: #999;
  --color-bg-info: rgba(108, 190, 237, .5);
  --color-bg-success: rgba(91, 229, 114, .5);
  --color-bg-warning: rgba(255, 210, 63, .5);
  --color-bg-danger: rgba(255, 121, 76, .5);

  /* padding & margin */
  --pm-default: 1rem 2rem;
  --pm-small: 1rem;
  --pm-large: 2rem;
  --pm-table: .5rem;

  /* radius */
  --radius-default: .5rem;

  /* navigation */
  --nav-color: var(--color-text-warning);
  --nav-bg-hover: #111;

  /* pagination */

}

/* Basic */
html,
body {
  font-family: "Segoe UI",
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
  box-sizing: border-box;
}

body {
  color: var(--color-text-main);
  background-color: var(--color-bg-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding: var(--pm-default);
}

main {
  flex: 1;
}

header,
footer {
  color: var(--color-text-light);
  background-color: var(--color-bg-dark);
  padding: 0 var(--pm-large);
}

/* Navigation */
nav {
  font-size: 1.1rem;
}

nav .logo {
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  padding: var(--pm-small) var(--pm-large) var(--pm-small) 0;
  color: var(--nav-color) !important;
  margin-right: var(--pm-small);
  background-color: transparent !important;
  border: 0;
}

nav .logo:hover {
  color: var(--color-text-light) !important;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  position: relative;
  display: inline-block;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: var(--pm-small) 1.5rem;
  text-decoration: none;
  color: var(--color-text-light);
  background-color: var(--color-bg-dark);
}

nav ul li a:hover {
  color: var(--nav-color);
  background-color: var(--nav-bg-hover);
}

nav ul li ul li {
  min-width: 12rem;
}

nav ul li ul li a {
  padding: var(--pm-small) 1.5rem;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1000;
}

/* Button */
button,
.btn,
.btn input[type=submit] {
  line-height: 1;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  background-color: var(--color-text-light);
  color: var(--color-text-dark);
  padding: .5rem var(--pm-small);
  border: 1px solid var(--color-text-dark);
  border-radius: calc(var(--radius-default) / 2);
}

/* Flash messages */
.flash {
  padding: var(--pm-small) calc(var(--pm-large) * 2) var(--pm-small) var(--pm-large);
  border-radius: var(--radius-default);
  position: relative;
}

.flash .close {
  position: absolute;
  top: calc(var(--pm-small) / 2 * -1);
  right: calc(var(--pm-small) / 2);
  padding: var(--pm-small);
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  color: inherit;
}

.flash-info {
  border: 1px solid var(--color-text-info);
  color: var(--color-text-info);
  background-color: var(--color-bg-info);
}

.flash-success {
  border: 1px solid var(--color-text-success);
  color: var(--color-text-success);
  background-color: var(--color-bg-success);
}

.flash-warning {
  border: 1px solid var(--color-text-warning);
  color: var(--color-text-warning);
  background-color: var(--color-bg-warning);
}

.flash-danger {
  border: 1px solid var(--color-text-danger);
  color: var(--color-text-danger);
  background-color: var(--color-bg-danger);
}

/* Pagination */
.pagination {
  margin-top: var(--pm-large);
}

.pagination tr {
  border: 0;
}

.pagination tr:hover {
  background-color: var(--color-bg-light);
}

.pgn-btn {
  margin-left: -1px;
  border: 1px solid var(--color-text-grey);
  padding: calc(var(--pm-small) / 2) var(--pm-small);
  background-color: var(--color-bg-light);
  color: var(--color-text-grey);
}

.pgn-btn:active,
.pgn-btn:focus {
  outline: 0;
}

.pgn-first {
  border-radius: var(--radius-default) 0 0 var(--radius-default);
}

.pgn-last {
  border-radius: 0 var(--radius-default) var(--radius-default) 0;
}

.pgn-btn:hover {
  color: var(--color-white);
  background-color: var(--color-text-info);
}

.pgn-cur-btn {
  background-color: var(--color-bg-info) !important;
  color: var(--color-text-dark) !important;
}

.pgn-btn-disabled {
  pointer-events: none;
  background-color: var(--color-bg-grey);
  color: var(--color-text-grey);
}

.pgn-goto {
  border: 1px solid var(--color-text-grey);
  border-radius: var(--radius-default);
  padding: calc(var(--pm-small) / 2) var(--pm-small);
  background-color: var(--color-bg-info) !important;
  color: var(--color-text-dark) !important;
  text-align: center;
}

.pgn-goto:active,
.pgn-goto:focus {
  outline: 0;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table thead th,
table thead td,
table tfoot td {
  color: var(--color-text-light);
  background-color: var(--color-bg-grey);
}

tr {
  border-bottom: 1px solid var(--color-text-grey);
}

table tbody tr:nth-child(even) {
  background-color: #eee;
}

table tbody tr:hover {
  background-color: var(--color-bg-info);
}

th,
td {
  padding: var(--pm-table);
  margin: 0;
  vertical-align: top;
}

td ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Form */
label {
  color: var(--color-text-info);
}

input {
  padding: calc(var(--pm-small) / 4);
  border: 1px solid var(--color-text-info);
  border-radius: calc(var(--radius-default) / 2);
  margin-top: calc(var(--pm-table) / 2);
  background-color: var(--color-text-light);
}

input:active,
input:focus {
  outline: 0;
  background-color: var(--color-bg-info);
}

/* Close button */
.close:active,
.close:focus {
  outline: 0;
}

.close:hover {
  color: var(--color-text-main) !important;
}
