html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI",
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main,
header,
footer {
  padding: .5rem 2rem;
}

main {
  flex: 1;
}

header,
footer {
  background-color: #ddd;
}

nav {
  font-size: 1.2rem;
}

nav .logo {
  display: inline-block;
  font-size: 3rem;
  margin: 0;
  padding-right: 3rem;
}

nav>.logo>a {
  text-decoration: none;
  color: #009;
}

nav>.logo>a:hover {
  color: #339;
}

nav>a {
  text-decoration: none;
  color: #009;
  padding: 0.3rem 1.5rem;
}

nav>a:hover {
  color: #fff;
  background-color: #339;
}

.flash {
  padding: 0 1rem;
  border-radius: 0.5rem;
}

.flash-info {
  border: 1px solid #000;
  color: #fff;
  background-color: #009;
}

.flash-success {
  border: 1px solid #000;
  color: #fff;
  background-color: #090;
}

.flash-warning {
  border: 1px solid #000;
  color: #fff;
  background-color: #fb0;
}

.flash-danger {
  border: 1px solid #000;
  color: #fff;
  background-color: #900;
}

.pgn-btn {
  margin-left: -1px;
  border: 1px solid #aaa;
  text-decoration: none;
  padding: 5px 10px;
  text-align: center;
  background-color: #eee;
  color: #333;
}

.pgn-btn:hover {
  background-color: #ccc;
}

.pgn-cur-btn {
  background-color: rgb(50, 50, 150) !important;
  color: #fff !important;
}

.pgn-btn-disabled {
  pointer-events: none;
  background-color: #eee;
  color: #bbb;
}

.pgn-goto {
  border: 1px solid #aaa;
  padding: 5px 10px;
  background-color: #eee;
  color: #333;
  font-size: 1rem;
}

th,
td {
  border-bottom: 1px solid black;
}

td ul {
  padding: 0;
  list-style: none;
}
